{% extends 'base.html' %}

{% block content %}
<div class="p-3 mb-2 bg-light text-dark">
    <h1>Profile Page</h1>

    {% if user.is_authenticated %}
       <h3>Hello, {{  user.first_name}}</h3>
        <nav class="navbar navbar-light" style="background-color: #000000;">
            <a href={% url 'logout' %}>Logout</a>
                {% else %}
                <a href={% url 'login' %}>Login</a>
                <a href={% url  'register' %}>Register</a>
    {% endif %}

            <a href={% url  'game' %}>Play Game</a>
            <a href={% url  'contact' %}>Contact Us</a>
        </nav>

    <br>
    <br>
    <p>Some awesome Stuff </p>
    <p>Some awesome Stuff2 </p>
    <p>Some awesome Stuff3 </p>
</div>



{% endblock content %}