{% extends 'base.html' %}

{% block content %}
<div class="p-3 mb-2 bg-light text-dark">

    <h1>Welcome to the game!</h1>
    <style>
        h1{
            text-align: center;
        }
    </style>

    {% if user.is_authenticated %}
       <h3>Hello, {{  user.first_name}}</h3>
        <nav class="navbar navbar-light" style="background-color: #000000;">
            <a href={% url 'logout' %}>Logout</a>
            <a href={% url  'game' %}>Play Game</a>
            <a href={% url  'contact' %}>Contact Us</a>
        </nav>
                <br>
                <br>
                <p>wins/losses: </p>
                <p>Bio?</p>
                <p>TODO: need stuff here </p>

    {% else %}
                <a href={% url 'login' %}>Login</a>
                <a href={% url  'register' %}>Register</a>

    {% endif %}

        </nav>


</div>



{% endblock content %}