{% extends 'base.html' %}

{% block content %}

    <h1>Register</h1>

    {% for message in messages %}
        <h3 style="color: red">{{ message }}</h3>
    {% endfor %}


    <form action="{% url 'register' %}" method="POST"> {% csrf_token %}

        <input type="text" name="first_name" placeholder="First Name" required><br>
        <input type="text" name="last_name" placeholder="Last Name" required><br>
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="text" name="email" placeholder="Email" required><br>
        <input type="password" name="password1" placeholder="Password" required><br>
        <input type="password" name="password2" placeholder="Confirm your password" required><br>
        <input type="submit" value="Register">

    </form>


{% endblock content %}